<h1>CATS99</h1>
<h3>Rent a cat -- for all your cat-related needs!</h3>
<ul><% @cats.each do |cat| %>
	<li><a href="<%= cat_url(cat) %>"><%= cat.name %></a></li>
	<% end %>
</ul>
<br>
<a href="<%= new_cat_url %>">Add a Cat to the Database!</a>

